body {
  height: 300vh;
}
/* plugin */
.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sticky-social-bar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.sticky-social-bar .social-item {
  display: inline-block;
  float: left;
  clear: both;
}
.sticky-social-bar .social-item a {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: white;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}
.sticky-social-bar .social-item.facebook {
  background-color: #3b5997;
}
.sticky-social-bar .social-item.facebook:hover {
  background-color: #33518E;
}
.sticky-social-bar .social-item.twitter {
  background-color: #55acee;
}
.sticky-social-bar .social-item.twitter:hover {
  background-color: #489CDC;
}
.sticky-social-bar .social-item.gplus {
  background-color: #dc4e41;
}
.sticky-social-bar .social-item.gplus:hover {
  background-color: #CA4539;
}
.sticky-social-bar .social-item.email {
  background-color: #aaa;
}
.sticky-social-bar .social-item.email:hover {
  background-color: #999;
}
@media (max-width: 640px) {
  .sticky-social-bar {
    left: 50%;
    bottom: 0;
    top: auto;
    transform: translateX(-50%);
  }
  .sticky-social-bar .social-item {
    clear: none;
  }
}
